body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.mask{
    position: fixed;
    background-color:#ccc;
    opacity:0.7;
    filter: alpha(opacity=70);
    height: 100%;
    width: 100%;
    z-index:50;
}
.box{
    position:absolute;
    width: 400px;
    min-height:200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index:99;
    border: 2px solid yellowgreen;
    background: #fff;
}
.close{
    position: absolute;
    top: 20px;
    right:10px;
}